/* General padding and margins */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* General backgroud and text colours */

.amg-text-orange {
    color: #f29426;
}

.amg-text-brown {
    color: #251f22;
}

.amg-text-white {
    color: #f9f7ee;
}

.amg-text-dark-grey {
    color: #6A656A;
}

.amg-background-orange {
    background-color: #f29426;
}

.amg-background-light-gray {
    background-color: rgba(149, 148, 148, 0.5);
}

.amg-background-white {
    background-color: #f9f7ee;
}

/* Header and nav section */
.header-container {
    height: 80px;
    background-image: linear-gradient(#f2b926, #f29426);
    position: fixed;
    width: 100%;
    z-index: 30;
    /* z-index: 16; */
}

.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 30;
    background-color: transparent !important;
}

.nav-link {
    color: #251f22;
    font-size: 18px;
    font-weight: 400;
}

/* nav facebook logo */
.facebook-logo {
    font-size: 30px;
}

.facebook-logo span {
    color: #251f22;
}

/* nav logo */
.header-logo-one {
    height: 130px;
    width: auto 0;
    position: absolute;
    z-index: 40;
    padding-left: 5%;
    margin-top: 2%;
}

.header-logo-two {
    height: 100px;
    width: auto 0;
    position: relative;
    z-index: 40;
    padding-top: 1%;
    padding-left: 5%;
}

.header-wave-container {
    margin-top: 80px;
    height: 10vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(#f29426, #ff8c00);
    z-index: 20;
}

/* .header-wave-one {
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: 17;
    margin-top: -300px;
} */

.header-wave-two {
    position: absolute;
    width: 100%;
    z-index: 17;
    height: 10vh;
    margin-top: -35vh;
}

.header-wave-three {
    position: absolute;
    width: 100%;
    height: 10vh;
    z-index: 17;
    margin-top: -35vh;
}

/* Image section */

.image-section {
    /* margin-top: 200px; */
}

/* Image from https://pixabay.com/photos/job-office-team-business-internet-5382501/ */
.hero-image {
    width: 80%;
    height: 400px;
    background: url('../images/job-office-team.jpg');
    background-color: #8C776A;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20%;
}

.hero-image-curve-background {
    height: 400px;
    width: 31%;
    position: absolute;
    background-image: linear-gradient(to right, rgba(106, 101, 106, 0.5), rgba(106, 101, 106, 0.8), rgba(106, 101, 106, 1), rgba(106, 101, 106, 0.1));
    z-index: 10;
}

.hero-image-curve-one {
    width: 400px;
    position: absolute;
    z-index: 11;
}

.hero-image-curve-two {
    width: 400px;
    position: absolute;
    z-index: 12;

}

.hero-image-bottom {
    width: 100%;
    height: 3rem;
    background-color: #f29426;
    position: relative;
    z-index: 13;
}

/* section three */

.section-three-background {
    background: url('../images/amg-logo-transparent-1.png');
    background-color: #6A656A;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    -webkit-background-size: center;
    -moz-background-size: center;
    -o-background-size: center;
    background-size: center;
    align-items: top;
    justify-content: top;
    position: relative;
    display: flex;
    min-height: 500px;
}

.section-three-first-container {
    background-color: transparent;
}

.quote-icon {
    color: #f2b926;
    font-size: 40px;
}

.quote-text {
    width: 80%;
    margin-left: 10%;
}

.section-three-second-container {
    background-color: #f9f7ee;
    min-height: 380px;
    padding-bottom: 100px;
}


.image-one-container,
.image-two-container,
.image-three-container,
.image-four-container {
    width: 220px;
    height: 160px;
    /* margin-left: 15%; */
}


.section-three-image {
    width: 200px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #000000;
    position: relative;
    z-index: 15;
}

.section-three-title {
    font-size: 15px;
    color: #251f22;
}

.section-three-text {
    width: 80%;
    /* margin-left: 15%; */
    color: #251f22;
}

.footer {
    height: 100px;
    background-image: linear-gradient(#f2b926, #f29426);
    padding-bottom: 0;
    margin-bottom: 0;
}


@media screen and (max-width: 2200px) {
    .header-wave-two {
        margin-top: -33vh;
    }
    
    .header-wave-three {
        margin-top: -33vh;
    }
}

@media screen and (max-width: 2100px) {
    .header-wave-two {
        margin-top: -30vh;
    }
    
    .header-wave-three {
        margin-top: -30vh;
    }
}

@media screen and (max-width: 2000px) {
    .header-wave-two {
        margin-top: -27vh;
    }
    
    .header-wave-three {
        margin-top: -27vh;
    }
}

@media screen and (max-width: 1900px) {
    .header-wave-two {
        margin-top: -290px;
    }
    
    .header-wave-three {
        margin-top: -290px;
    }
}

@media screen and (max-width: 1800px) {
    .header-wave-two {
        margin-top: -270px;
    }
    
    .header-wave-three {
        margin-top: -270px;
    }
}

@media screen and (max-width: 1700px) {
    .header-wave-two {
        margin-top: -250px;
    }
    
    .header-wave-three {
        margin-top: -250px;
    }
}

@media screen and (max-width: 1600px) {
    .header-wave-two {
        margin-top: -250px;
    }
    
    .header-wave-three {
        margin-top: -250px;
    }
}

@media screen and (max-width: 1500px) {
    .header-wave-two {
        margin-top: -230px;
    }
    
    .header-wave-three {
        margin-top: -230px;
    }
}

@media screen and (max-width: 1400px) {
    .header-wave-two {
        margin-top: -210px;
    }
    
    .header-wave-three {
        margin-top: -210px;
    }
}

@media screen and (max-width: 1300px) {
    .header-wave-two {
        margin-top: -180px;
    }
    
    .header-wave-three {
        margin-top: -180px;
    }
}

/* @media screen and (max-width: 1200px) {
    .header-wave-two {
        margin-top: -150px;
    }
    
    .header-wave-three {
        margin-top: -150px;
    }
} */

@media screen and (max-width: 1100px) {
    .header-wave-two {
        margin-top: -130px;
    }
    
    .header-wave-three {
        margin-top: -130px;
    }
}

@media screen and (max-width: 1000px) {
    .header-wave-two {
        margin-top: -110px;
    }
    
    .header-wave-three {
        margin-top: -110px;
    }
}

@media screen and (max-width: 900px) {
    .header-wave-two {
        margin-top: -90px;
    }
    
    .header-wave-three {
        margin-top: -90px;
    }
}

@media screen and (max-width: 800px) {
    .header-wave-two {
        margin-top: -70px;
    }
    
    .header-wave-three {
        margin-top: -70px;
    }
}

@media screen and (max-width: 700px) {
    .header-wave-two {
        margin-top: -50px;
    }
    
    .header-wave-three {
        margin-top: -50px;
    }
}

@media screen and (max-width: 600px) {
    .header-wave-two {
        margin-top: -30px;
    }
    
    .header-wave-three {
        margin-top: -30px;
    }
}

@media screen and (max-width: 600px) {
    .header-wave-two {
        margin-top: -10px;
    }
    
    .header-wave-three {
        margin-top: -10px;
    }
}